---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
import { getCollection } from "astro:content";

const pageTitle = "Mon blog d'apprentissage Astro";
const allPosts = await getCollection("posts");
---

<BaseLayout pageTitle={pageTitle}>
  <p>Voici où je vais publier mon parcours d'apprentissage d'Astro.</p>
  <ul>
    {
      allPosts.map((post) => (
        <BlogPost url={`/posts/${post.slug}`} title={post.data.title} />
      ))
    }
  </ul>
</BaseLayout>
